<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:insert="base.html :: head"></head>

	<body>
	  
	    <header th:insert="base.html :: header"></header>
	    
		<div class="main-content">
	    	<div class="container">
	    
	    		<table id="recipeTable" class="table table-striped table-responsive">
	    			<thead class="thead-dark">
	    				<tr>
	      					<th style="width:auto" scope="col">Recipe</th>
	    				</tr>
	  				</thead>
	  				<tbody>
	  					<tr>
							<td scope="row">
	 							<span th:text="'[#' + ${recipeIngredient.recipe.id} + '] ' + ${recipeIngredient.recipe.name}"></span> 
	 							<sup><i class="fa-solid fa-circle-info fa-lg" th:title="${recipeIngredient.recipe.description}"></i></sup>
	 						</td>
						</tr>
					</tbody>
	    		</table>
    
	    		<p class="title-text">Edit Ingredient:</p>

	    		<form method="POST" th:object="${recipeIngredient}" id="recipeIngredientForm" name="recipeIngredientForm">
					<div class="row bottom-margin-5">
						<div class="col-auto">
							<input type="text" name="id" th:field="*{id}" readonly hidden>
						</div>
					</div>
					
					<div class="row bottom-margin-5">
						<div class="col-auto">
							<input type="text" name="recipe" th:field="*{recipe.id}" readonly hidden>
						</div>
					</div>
					
					<div class="row bottom-margin-5">
						<div class="col-auto">
							<label class="form-text" style="min-width: 8rem;" for="ingredient">Ingredient:</label>
						</div>
						<div class="col-auto">
							<select class="form-select form-select-sm" th:field="*{ingredientEntry}" id="ingredient" name="ingredient" required>
								<option th:value="*{ingredientEntry.id}" th:text="*{ingredientEntry.name}">
							</select>
						</div>
					</div>
					
					<div class="row bottom-margin-5">						
						<div class="col-auto">
							<label class="form-text" style="min-width: 8rem;" for="amount">Amount:</label>
						</div>
						<div class="col-2">
							<input class="form-control form-control-sm" type="text" name="amount" th:field="*{recipeIngredientAmount}"/>
						</div>
						
						<div class="col-auto">
							<select class="form-select form-select-sm" th:field="*{recipeIngredientAmountType}" name="amountType" id="amountType" required>
    							<option th:value="*{recipeIngredientAmountType}" th:text="*{recipeIngredientAmountType.name()}">
							</select>
						</div>
					</div>

					<div class="row  top-margin-15">
						<div class="col">
			      			<input class="btn btn-outline-secondary btn-sm" type="submit" value="Edit Ingredient"/>
	      				</div>
	      			</div>
	    		</form>

    			<br/>
    			
    			<div>
	    			<a class="btn btn-outline-dark btn-sm" th:href="@{/recipes}">View Recipes</a>
	    			<a class="btn btn-outline-dark btn-sm" th:href="@{/ingredients}">View Ingredients</a>
	    		</div>
  
  			</div>
	    </div>
	    
	    <footer th:insert="base.html :: footer"></footer>
	    
	    <div th:insert="base.html :: javascript"></div>

	</body>
</html>