<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:insert="base.html :: head"></head>

	<body>
	  
	    <header th:insert="base.html :: header"></header>
	    
		<div class="main-content">
	    	<div class="container">
	    
	    		<p class="title-text">Register New Inventory</p>
  
				<form class="was-validated" method="POST" th:action="@{/inventories/register}" th:object="${inventory}" id="inventoryForm" novalidate>
	
					<div class="row bottom-margin-5">
						<div class="col-auto">
							<label class="form-text" for="ingredient">Ingredient:</label>
						</div>
						<div class="col-auto">
		      				<select class="form-select form-select-sm" th:field="*{ingredient}" onchange="amountTypeSet(this)" required>
								<option value="">-- Ingredient --</option>
								<option th:each = "i : ${ingredientList}" th:value="${i.id}" th:text="${i.name}" th:data-amount-type="${i.amountType.name()}">
							</select>
							<div class="invalid-feedback">
								<span style="font-size: 1rem; color: red;" th:if="${#fields.hasErrors('ingredient')}" th:errors="*{ingredient}"></span>
							</div>
		      			</div>
		      		</div>
		      		
					<div class="row bottom-margin-5">
		      			<div class="col-auto">
							<label class="form-text" for="totalAmount">Total Amount:</label>
						</div>
						<div class="col-2">
		      				<input class="form-control form-control-sm" type="number" min="0.0" step=".01" th:field="*{amount}" onchange="amountLeftSet()" placeholder="e.g.: 125.00" required>
							<div class="invalid-feedback">
								<span style="font-size: 1rem; color: red;" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
							</div>
		      			</div>
		      			<div class="col-1">
		      				<input class="form-control form-control-sm" type="text" id="amountType" onfocus="amountTypeSetField()" readonly>
						</div>
		      		</div>
		      		
					<div class="row bottom-margin-5">
		      			<div class="col-auto">
							<label class="form-text" for="amountLeft">Amount Left:</label>
						</div>
						<div class="col-2">
							<input class="form-control form-control-sm" type="number" min="0.0" step=".01" th:field="*{amountLeft}" placeholder="e.g.: 125.00" required>
							<div class="invalid-feedback">
								<span style="font-size: 1rem; color: red;" th:if="${#fields.hasErrors('amountLeft')}" th:errors="*{amountLeft}"></span>
							</div>
		      			</div>
		      			<div class="col-1">
		      				<input class="form-control form-control-sm" type="text" id="amountTypeLeft" onfocus="amountTypeSetField()" readonly>
						</div>
		      		</div>

		      		<div class="row bottom-margin-5">
						<div class="col-auto">
							<label class="form-text" for="price">Price:</label>
						</div>
						<div class="col-auto">
		      				<p class="form-text" style="min-width: 0; margin: 0;">R$</p>
		      			</div>
						<div class="col-2">
		      				<input class="form-control form-control-sm" type="number" min="0.0" step=".01" th:field="*{price}" placeholder="e.g.: 15.95" required>
							<div class="invalid-feedback">
								<span style="font-size: 1rem; color: red;" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
							</div>
		      			</div>
		      		</div>
		      		
		      		<div class="row bottom-margin-5">
						<div class="col-auto">
							<label class="form-text" for="expirationDate">Expiration Date:</label>
						</div>
						<div class="col-auto">
		      				<input class="form-control form-control-sm" type="date" th:field="*{expirationDate}" required>
							<div class="invalid-feedback">
								<span style="font-size: 1rem; color: red;" th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}"></span>
							</div>
		      			</div>
		      		</div>

					<div class="row  top-margin-15">
		      			<div class="col">
			      			<input class="btn btn-outline-secondary btn-sm" type="submit" value="Register"/>
			      		</div>
			      	</div>
    			</form>
    			
				<br>
	    	
	    		<div>
	    			<a class="btn btn-outline-dark btn-sm" th:href="@{/ingredients}">View Ingredients</a>
	    		</div>
			</div>
	    </div>
	    
	    <footer th:insert="base.html :: footer"></footer>
	    
	    <div th:insert="base.html :: javascript"></div>
	    
		<script>
			function amountLeftSet() {
  				var amount = document.getElementById("amount").value;
  				document.getElementById("amountLeft").value = amount;
			}
		</script>
	
		<script>
			function amountTypeSet(ingredient) {
  				var opt = ingredient.options[ingredient.selectedIndex];
  				var amountType = opt.dataset.amountType
  				document.getElementById("amountType").value = amountType;
  				document.getElementById("amountTypeLeft").value = amountType;
			}
		</script>
		
		<script>
			function amountTypeSetField() {
  				var ingredient = document.getElementById("ingredient");
  				var opt = ingredient.options[ingredient.selectedIndex];
  				var amountType = opt.dataset.amountType
  				document.getElementById("amountType").value = amountType;
  				document.getElementById("amountTypeLeft").value = amountType;
			}
		</script>

	</body>
</html>