<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:insert="base.html :: head"></head>

	<body>
	  
	    <header th:insert="base.html :: header"></header>
	    
		<div class="main-content">
	    	<div class="container">
	    
	    		<p class="title-text">Edit Inventory</p>
  
    			<form class="was-validated" method="POST" th:action="@{/inventories/edit/{inventoryId}(inventoryId=${inventory.id})}" th:object="${inventory}" id="inventoryForm" novalidate>
    			
					<div class="row bottom-margin-5">
						<div class="col-auto">
							<label class="form-text" for="id">ID:</label>
						</div>
						<div class="col-2">
		      				<input class="form-control form-control-sm" type="text" th:field="*{id}" readonly>
		      			</div>
		      		</div>
		      		
					<div class="row bottom-margin-5">
						<div class="col-auto">
							<label class="form-text" for="ingredient">Ingredient:</label>
						</div>
						<div class="col-auto">
		      				<input type="text" id="ingredient" name="ingredient" th:value="*{ingredient.id}" hidden required>
		      				<input class="form-control form-control-sm" th:value="${inventory.ingredient.name}" readonly>
		      			</div>
		      		</div>
		      		
					<div class="row bottom-margin-5">
		      			<div class="col-auto">
							<label class="form-text" for="amount">Amount:</label>
						</div>
						<div class="col-2">
		      				<input class="form-control form-control-sm" type="number" min="0.0" step=".01" th:field="*{amountLeft}" required>
							<div class="invalid-feedback">
								<span style="font-size: 1rem; color: red;" th:if="${#fields.hasErrors('amountLeft')}" th:errors="*{amountLeft}"></span>
							</div>
		      			</div>
		      			<div class="col-auto">
		      				<p style="margin-bottom: 0px;">/</p>
		      			</div>
		      			<div class="col-2">
		      				<input class="form-control form-control-sm" type="number" min="0.0" step=".01" th:field="*{amount}" required>
							<div class="invalid-feedback">
								<span style="font-size: 1rem; color: red;" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
							</div>
		      			</div>
		      			<div class="col-1">
		      				<input class="form-control form-control-sm" type="text" id="amountType" name="amountType" th:value="${inventory.ingredient.amountType}" readonly>
						</div>
		      		</div>
		      		
		      		<div class="row bottom-margin-5">
						<div class="col-auto">
							<label class="form-text" for="price">Price:</label>
						</div>
						<div class="col-auto">
		      				<p class="form-text" style="min-width: 0; margin: 0;">R$</p>
		      			</div>
						<div class="col-2">
		      				<input class="form-control form-control-sm" type="number" min="0.0" step=".01" th:field="*{price}" required>
							<div class="invalid-feedback">
								<span style="font-size: 1rem; color: red;" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
							</div>
		      			</div>
		      		</div>
		      		
		      		<div class="row bottom-margin-5">
						<div class="col-auto">
							<label class="form-text" for="expirationDate">Expiration Date:</label>
						</div>
						<div class="col-auto">
		      				<input class="form-control form-control-sm" type="date" th:field="*{expirationDate}" required>
							<div class="invalid-feedback">
								<span style="font-size: 1rem; color: red;" th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}"></span>
							</div>
		      			</div>
		      		</div>

					<div class="row  top-margin-15">
		      			<div class="col">
			      			<input class="btn btn-outline-secondary btn-sm" type="submit" value="Edit"/>
			      		</div>
			      	</div>
    			</form>
    
     			<br/>
     
	    		<div>
	    			<a class="btn btn-outline-dark btn-sm" th:href="@{/inventories/{idIngredient}(idIngredient=${inventory.ingredient.id})}">View Inventories</a>
	    			<a class="btn btn-outline-dark btn-sm" th:href="@{/ingredients}">View Ingredients</a>
	    		</div>
  			</div>
	    </div>
	    
	    <footer th:insert="base.html :: footer"></footer>
	    
	    <div th:insert="base.html :: javascript"></div>
	    
      	<span th:if="${usedInventoryExists}">
			<script>
				if(!confirm("<<< Beware! >>>\n\nCurrent Inventory was already used in a Cooked Recipe!\n\nChanges may lead to inconsistencies!")) {
					history.back();
				}
			</script>
		</span>

	</body>
</html>