<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:insert="base.html :: head"></head>

	<body>
	
    	<header th:insert="base.html :: header"></header>
    
    	<div class="main-content">
			<div class="container-fluid">
  
    			<p class="title-text">Register New User</p>
    			
    			<p class="subtitle-text" style="color: red;" th:text="'Username ' + ${username} + ' is already taken, please, choose another one!'" id="usernameError"></p>
    			
    			<form method="POST" th:action="@{/registration}" th:object="${user}" id="userRegisterForm">

	                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
			
					<div class="row bottom-margin-5">
						<div class="col-auto">
							<label class="form-text" style="min-width: 8rem;" for="username">Username:</label>
						</div>
						<div class="col-2">
		      				<input class="form-control form-control-sm" type="text" name ="username" th:value="${username}" id="username">
		      			</div>
		      		</div>
		      		
					<div class="row bottom-margin-5">
		      			<div class="col-auto">
							<label class="form-text" style="min-width: 8rem;" for="password">Password:</label>
						</div>
						<div class="col-2">
		      				<input class="form-control form-control-sm" type="password" name ="password" th:value="${password}" id="password"/>
		      			</div>
		      		</div>

		      		<div class="row  top-margin-15">
		      			<div class="col">
			      			<input class="btn btn-outline-secondary btn-sm" name="submit" type="submit" value="Register"/>
			      		</div>
			      	</div>
				</form>
  
    		</div>
    	</div>
    
    	<footer th:insert="base.html :: footer"></footer>
    
    	<div th:insert="base.html :: javascript"></div>
  
	</body>
</html>
