<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:insert="base.html :: head"></head>

	<body>
	  
	    <header th:insert="base.html :: header"></header>
	    
		<div class="main-content">
	    	<div class="container">
	    
	    		<p class="title-text">Register New Ingredient</p>
  
				<form class="was-validated" method="POST" th:action="@{/ingredients/register}" th:object="${ingredient}" id="ingredientForm" novalidate>
					
					<div class="row bottom-margin-5">
						<div class="col-auto">
							<label class="form-text" for="name">Ingredient Name:</label>
						</div>
						<div class="col-4">
		      				<input class="form-control form-control-sm" type="text" th:field="*{name}" placeholder="e.g.: Chocolate" required>
							<div class="invalid-feedback">
								<span style="font-size: 1rem; color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
							</div>
		      			</div>
		      		</div>
		      		
					<div class="row bottom-margin-5">
		      			<div class="col-auto">
							<label class="form-text" for="description">Description:</label>
						</div>
						<div class="col-6">
		      				<input class="form-control form-control-sm" type="text" th:field="*{description}" placeholder="e.g.: 50% Cocoa">
		      			</div>
		      		</div>
		      		
		      		<div class="row  bottom-margin-5">
		      			<div class="col-auto">
							<label class="form-text" for="amountType">Measure Unity:</label>
						</div>
						<div class="col-auto">
		      				<select class="form-select form-select-sm" th:field="*{amountType}" id="amountType" required>
								<option value="">-- Select --</option>
								<option th:each = "u : ${T(dev.leonardovcl.sweetcontrol.model.Ingredient.AmountType).values()}" th:value="${u}" th:text="${u.name()}">
							</select>
							<div class="invalid-feedback">
								<span style="font-size: 1rem; color: red;" th:if="${#fields.hasErrors('amountType')}" th:errors="*{amountType}"></span>
							</div>
		      			</div>
		      		</div>
		      		
		      		<div class="row  top-margin-15">
		      			<div class="col">
			      			<input class="btn btn-outline-secondary btn-sm" type="submit" value="Register"/>
			      		</div>
			      	</div>

				</form>

				<br>
	    	
	    		<div>
	    			<a class="btn btn-outline-dark btn-sm" th:href="@{/ingredients}">View Ingredients</a>
	    		</div>
			</div>
	    </div>
	    
	    <footer th:insert="base.html :: footer"></footer>
	    
	    <div th:insert="base.html :: javascript"></div>

	</body>
</html>