<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:insert="base.html :: head"></head>

	<body>
	  
	    <header th:insert="base.html :: header"></header>
	    
		<div class="main-content">
	    	<div class="container">
	    
	    		<p class="title-text">Ingredients List</p>
	    
	    		<table class="table table-striped table-responsive">
	    			<thead class="thead-dark">
	    				<tr>
	      					<th style="width:auto" scope="col">ID</th>
	      					<th style="width:auto" scope="col">Name</th>
	      					<th style="width:auto" scope="col">Amount Left</th>
	      					<th style="width:auto" scope="col"></th>
	    				</tr>
	  				</thead>
	  				<tbody>
						<tr th:each="ingredient : ${ingredientList.content}">
							<td scope="row" th:text="'#' + ${ingredient.id}"></td>
	 						<td scope="row">
	 							<span th:text="${ingredient.name}"></span> 
	 							<sup><i class="fa-solid fa-circle-info fa-lg" th:title="${ingredient.description}"></i></sup>
	 						</td>
	 						<td scope="row"
	 							th:text="${@ingredientService.getIngredientTotalAmount(ingredient.id)
	 								+ ' ' +
									ingredient.getAmountType().name()}">
							</td>
	 						<td scope="row" align="right">
	 							<div class="last-row">
		 							<a th:href="@{/inventories/{idIngredient}(idIngredient=${ingredient.id})}" class="btn btn-outline-danger btn-sm">Inventories</a> &nbsp;
		    						<a th:href="@{/ingredients/edit/{idIngredient}(idIngredient=${ingredient.id})}" title="Edit"><i class="fa-solid fa-pen-to-square fa-lg"></i></a> &nbsp;
		    						<a th:href="@{/ingredients/delete/{idIngredient}(idIngredient=${ingredient.id})}" title="Delete"><i class="fa-solid fa-xmark fa-lg"></i></a>
	    						</div>
	    					</td>
						</tr>
					</tbody>
	    		</table>
	    		
				<div>
				<span th:if="${ingredientList.hasPrevious()}">
					<a th:href="@{/ingredients(page=${ingredientList.number-1}, idFilter=${idFilter}, nameLike=${nameLike})}"><i class="fa-solid fa-angle-left fa-lg"></i></a>
				</span>
	 
				<span th:if="${ingredientList.totalPages > 1}">
					<th:block th:each="i: ${#numbers.sequence(0, ingredientList.totalPages - 1)}"> 
						<a class="badge bg-primary text-wrap" th:href="@{/ingredients(page=${i}, idFilter=${idFilter}, nameLike=${nameLike})}">[[ ${i} + 1 ]]</a>
					</th:block>
				</span>
	    
				<span th:if="${ingredientList.hasNext()}">
					<a th:href="@{/ingredients(page=${ingredientList.number+1}, idFilter=${idFilter}, nameLike=${nameLike})}"><i class="fa-solid fa-angle-right fa-lg"></i></a>
				</span>
				</div>
	    
	    		<br>
	    
	    		<form method="GET" th:action ="@{/ingredients}" id="filterList">
					<div class="row gx-1">
						<div class="col-1">
							<input class="form-control form-control-sm" type="text" name ="idFilter" th:value="${idFilter}" placeholder="Id">
						</div>
	      
						<div class="col-3">
							<input class="form-control form-control-sm" type="text" name ="nameLike" th:value="${nameLike}" placeholder="Name">
						</div>
			
						<div class="col-auto">
							<input style="margin-left: 10px;" class="btn btn-outline-success btn-sm" type="submit" value="Filter Results"/>
	      					<a style="margin-left: 5px;" class="btn btn-outline-secondary btn-sm" th:href="@{/ingredients}">Clear</a>
	      				</div>
	      			</div>
	    		</form>
	    
	    		<br>
	    	
	    		<div>
	    			<a class="btn btn-outline-dark btn-sm" th:href="@{/ingredients/register}">Register Ingredient</a>
	    			<a class="btn btn-outline-dark btn-sm" th:href="@{/inventories/register}">Register Inventory</a>
	    		</div>
			</div>
	    </div>
	    
	    <footer th:insert="base.html :: footer"></footer>
	    
	    <div th:insert="base.html :: javascript"></div>

	</body>
</html>