/* Base Definitions */
html {
    font-size: calc(11px + 0.390625vw);
}

body {
	background-color: #F5EAEB;
}

/* Navigation Bar */
.navbar {
	background-color: #F9DCDF;
}

.navbar-brand {
	max-width: 20rem;
}

/* Change color of nav links on hover */
.nav-item a:hover {color: #e85992;}

/* Set nav links properties */
.nav-link, .dropdown-item {
	color: #793e21;
	font-weight: bold;
	font-size: 1.25rem;
}

/* Dropdown Button */
.dropdown-toggle {
  background-color: #F9DCDF;
  padding: 0.5rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #FFF7F7;
  border-radius: 0.5rem;
  box-shadow: 0 0.67rem 1.33rem 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-menu a {
  color: #793e21;
  font-size: 0.95rem;
  padding: 0.67rem;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {color: #e85992;}

/* Change the color of the dropdown button when the dropdown content is shown */
.dropdown-menu:hover .dropdown-toggle {color: #e85992;}

/* Main Content */
.container, .container-fluid {
	margin-left: 1rem;
	margin-right: 1rem;
}

.main-content {
	padding-top: 100px;
}

/* Texts */
.title-text {
	color: #793E21;
	font-weight: bold;
	font-size: 2.67rem;
}

.middle-text {
	color: #E85992;
	font-weight: bold;
	font-size: 1.67rem;
}

.subtitle-text {
	color: #793E21;
	font-weight: bold;
	font-size: 1.33rem;
}

.subtitle-text-brown {
	color: #402212;
	font-weight: bold;
	font-size: 1.33rem;
}

.form-text {
    color: #793E21;
    font-weight: bold;
    font-size: 1.25rem;
    min-width: 12rem;
}

.form-control-sm {
	font-size: 1rem;
}

/* Icons */
.fa-heart {
	color: red;
}

.fa-circle-info {
	color: #E85992;
}

.fa-pen-to-square {
	color: blue;
}

.fa-xmark {
	color: red;
}

.fa-clock-rotate-left {
	color: #402212;
}

.fa-angle-right {
	color: #E85992;
}

.fa-angle-left {
	color: #E85992;
}

/* Tables */
.table {
    width: auto;
    font-size: 1.rem;
    color: #000;
}

.thead-dark {
	background-color: #E85992;
	color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #FFF;
   font-size: 1.rem;
   color: #000;
 }
 
#table-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}

@media (min-width: 768px) {
  .collapse.last-col {
    display: block;
    height: auto !important;
    visibility: visible;
  }
  
  .table-btn {
    display: none;
  }
  
  #table-ul li{
    display: inline;
	}
}
 
/* Buttons */
 .bottom-margin-5 {
	 margin-bottom: 5px;
 }
 
  .top-margin-15 {
	 margin-top: 15px;
 }

.btn-outline-danger {
	color: #E85992;
	border-color: #E85992;
}

.btn-outline-danger:hover {
	background-color: #E85992;
	border-color: #E85992;
}

.btn-outline-dark {
	color: #793e21;
	border-color: #793e21;
}

.btn-outline-dark:hover {
	background-color: #793e21;
	border-color: #793e21;
}

.bg-primary {
	background-color: #E85992 !important;
	color: white;
}

.bg-primary:hover {
	color: #000;
}

.btn {
	font-size: 1.rem;
}

/* Footer */
.footer-area {
  position: relative;
}

#copyright .copyright-content {
  border-top: 1px solid #402212;
  padding: 10px 0px 0px 0px;
  margin: 25px 0px 0px 0px;
}

#copyright p {
  color: #793e21;
  text-align: center;
  font-size: 1rem;
}

#copyright p a {
  color: #793e21;
}

#copyright p a:hover {
  color: #d2738d;
}
