<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
  	<meta charset="UTF-8">
    <title>Sweet Control</title>
  </head>

  <body>
  
    <h1>Sweet Control</h1>
    <h3>Inventory control system for bakeries.</h3>
    
    <a th:href="@{/ingredients}">View Ingredients</a>
    <br/>
    <a th:href="@{/ingredients/register}">Register Ingredient</a>
    <br/>
    <br/>
    <a th:href="@{/recipes}">View Recipes</a>
    <br/>
    <a th:href="@{/recipes/register}">Register Recipe</a>
  
  </body>

</html>