<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:insert="base.html :: head"></head>

	<body>
  
	<!-- Header Area wrapper Starts -->
	<header id="header-wrap" th:fragment="header-noauth">
		<!-- Navbar Start -->
		<nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
			<div class="container-fluid">
				 <!-- Brand and toggle get grouped for better mobile display -->
				<a th:href="@{/}" class="navbar-brand"><img class="img-fluid" th:src="@{/img/sweetControl.png}" alt="Sweet Control"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa-solid fa-bars"></i>
				</button>
			</div>
		</nav>
		<!-- Navbar End -->
	</header>
	<!-- Header Area wrapper End -->
    
    	<div class="main-content" th:fragment="index">
			<div class="container-fluid">
    			<h3>Inventory control system for bakeries.</h3>
    			
    			<div>
    				<a class="btn btn-outline-success btn-sm" th:href="@{/login}">Login</a>
    				<a class="btn btn-outline-success btn-sm" th:href="@{/registration}">Registration</a>
    			</div>
    		</div>
    	</div>
    
    	<footer th:insert="base.html :: footer"></footer>
    
    	<div th:insert="base.html :: javascript"></div>
  
	</body>
</html>