<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:insert="base.html :: head"></head>

	<body>
  
	<!-- Header Area wrapper Starts -->
	<header id="header-wrap" th:fragment="header-noauth">
		<!-- Navbar Start -->
		<nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
			<div class="container-fluid">
				 <!-- Brand and toggle get grouped for better mobile display -->
				<a th:href="@{/}" class="navbar-brand"><img class="img-fluid" th:src="@{/img/sweetControl.png}" alt="Sweet Control"></a>
			</div>
		</nav>
		<!-- Navbar End -->
	</header>
	<!-- Header Area wrapper End -->
    
    	<div class="main-content" th:fragment="index">
			<div class="container-fluid">
    			
    			<h1 class="welcome-text">Welcome<span style="color: #E85992;">!</span></h1>
    			
    			<p class="description-text" style="margin-bottom: 1rem;">
    				<span class="logo-text">Sweet Control </span>
    				is a web-based system designed to help with edible products inventory management.
    			</p>

    			<p class="description-text">
    				You can register different
    				<span class="emphasis-text"> Ingredients </span>
    				types and their respective
    				<span class="emphasis-text"> Inventories </span>
    				 informations, including total and left amounts, price and expiration date.
    			</p>
    			
    			<p class="description-text">
    				Beyond that, You can register your own
    				<span class="emphasis-text"> Recipes</span>
    				, with informations about
    				<span class="emphasis-text"> Ingredients </span> 
    				and their amounts.<br>
    				<span class="emphasis-text">Sweet Control </span>
    				will keep track of how many times You can still cook your
    				<span class="emphasis-text"> Recipes </span>
    				and how much the next cooking will cost (
					<span class="emphasis-text"> Ingredients </span>
					wise).
    			</p>
    			
    			<p class="description-text">
    				Also, You can follow up your
    				<span class="emphasis-text"> Cooked Recipes</span>
    				, knowing which
    				<span class="emphasis-text"> Inventories </span> 
    				and amounts were used, making date and cost.
    			</p>
    			
    			<p class="description-text" style="margin-top: 1.5rem;">
    				Learn more about it&nbsp;
    				<a href="https://github.com/leonardovcl/sweet-control/blob/main/README.md" title="Learn More"><i class="fa-brands fa-github fa-lg" style="color: #793E21;"></i></a>!
    			</p>
    			
    		</div>
    	</div>
    			
    	<div class="container-fluid">
    			
			<div style="margin-top: 2rem;">
		    			
				<div>
					<p class="caption-text">Want to taste the
						<span style="color: #E85992;"> Sweet </span>
						feeling of being in
						<span style="color: #E85992;"> Control </span>
						?
					</p>
					<a class="btn btn-outline-success btn-sm" th:href="@{/registration}">Registration</a>
				</div>
				
				<div>
					<p class="caption-text">
						Already in
		    			<span style="color: #E85992;"> Control </span>
		    			?
		    		</p>
		    		<a class="btn btn-outline-success btn-sm" th:href="@{/login}">Login</a>
		    	</div>
		    			
			</div>

    	</div>
    
    	<footer th:insert="base.html :: footer"></footer>
    
    	<div th:insert="base.html :: javascript"></div>
  
	</body>
</html>