<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
  	<meta charset="UTF-8">
    <title>Sweet Control</title>
  </head>

  <body>
  
    <h1>Sweet Control</h1>
    <h3>Inventories List:</h3>
    
    <ol>
    <li th:each="inventory : ${inventoryList.content}">
		<span th:text="${inventory.ingredient.name}">Name</span>
        <span th:text="${inventory.amountLeft} + '/' + ${inventory.amount}">Amount</span>
        <span th:text="${inventory.ingredient.amountType.name()}">Amount Type</span>
        <span th:text="${inventory.price}">Price</span>
        <span th:text="${inventory.getPricePerAmountAsString()}">Price per amount</span>
        <span type="Date" th:text="${inventory.getExpirationDate()}">Expiration Date</span>
        <a th:href="@{/inventories/edit/{idInventory}(idInventory=${inventory.id})}">Edit</a>
        <a th:href="@{/inventories/delete/{idInventory}(idInventory=${inventory.id})}">Delete</a>
	</li>
	</ol>
	
	<span th:if="${inventoryList.hasPrevious()}">
         <a th:href="@{/inventories/{idIngredient}(idIngredient=${idIngredient}, page=${inventoryList.number-1})}">Previous</a>
	</span>
     
 
 	<span th:if="${inventoryList.totalPages > 1}">
	    <th:block th:each="i: ${#numbers.sequence(0, inventoryList.totalPages - 1)}"> 
	            <a th:href="@{/inventories/{idIngredient}(idIngredient=${idIngredient}, page=${i})}">[[ ${i} + 1 ]]</a>
	    </th:block>
	</span>
    
    <span th:if="${inventoryList.hasNext()}">
         <a th:href="@{/inventories/{idIngredient}(idIngredient=${idIngredient}, page=${inventoryList.number+1})}">Next</a>
     </span>
     <br/>
     <br/>
    
    <a th:href="@{/inventories/register/{idIngredient}(idIngredient=${idIngredient})}">Register Inventory</a>
    <br/>
    <a th:href="@{/ingredients}">View Ingredients</a>
    <br/>
    <a th:href="@{/}">Home</a>
  
  </body>

</html>