<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
  	<meta charset="UTF-8">
    <title>Sweet Control</title>
  </head>

  <body>
  
    <form method="POST" th:object="${inventory}" id="inventoryForm">
      <h1>Register New Inventory</h1>

	<label for="ingredient">Ingredient: </label>
	<select th:field="*{ingredient}" onchange="amountTypeSet(this)">
		<option value="">-- Ingredient --</option>
		<option th:each = "i : ${ingredientList}" th:value="${i.id}" th:text="${i.name}" th:data-amount-type="${i.amountType.name()}">
	</select>
      <br/>
      <br/>
      <label for="amount">Amount: </label>
      <input type="text" th:field="*{amount}" id="amount" onchange="amountLeftSet()"/>
      
      <label for="amountLeft">Amount Left: </label>
      <input type="text" th:field="*{amountLeft}" id="amountLeft"/>
      <br/>
      <br/>
      <label for="amountType">Measure Unity: </label>
	<select id="amountType">
		<option value = ""></option>
	</select>
      <br/>
      <br/>
      <label for="price">Price: </label>
      <input type="text" th:field="*{price}"/>
      <br/>
      <br/>
      <label for="expirationDate">Expiration Date: </label>
      <input type="date" th:field="*{expirationDate}"/>
      <br/>
      <br/>

      <input type="submit" value="Register"/>
    </form>
    
    <br/>
    <a th:href="@{/ingredients}">View Ingredients</a>
    <br/>
    <a th:href="@{/}">Home</a>
    
    <script>
		function amountLeftSet() {
  			var amount = document.getElementById("amount").value;
  			document.getElementById("amountLeft").value = amount;
		}
	</script>
	
	<script>
		function amountTypeSet(ingredient) {
  			var opt = ingredient.options[ingredient.selectedIndex];
  			var amountType = opt.dataset.amountType
  			document.getElementById("amountType").options[0].innerHTML = amountType;
		}
	</script>
  
  </body>

</html>