<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
  	<meta charset="UTF-8">
    <title>Sweet Control</title>
  </head>

  <body>
  
    <h1>Sweet Control</h1>
    <h3>Inventories Update Error:</h3>
    
    <p>Can't Edit Inventory that was already used in a Cooked Recipe!</p>
    
    <a th:href="@{/inventories/edit/inventoryUpdateError/{idInventory}(idInventory=${idInventory})}">Back</a>
    <br/>
    <a th:href="@{/ingredients}">View Ingredients</a>
    <br/>
    <a th:href="@{/}">Home</a>
  
  </body>

</html>