<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
  	<meta charset="UTF-8">
    <title>Sweet Control</title>
  </head>

  <body onload="isCookable()">
  
    <h1>Sweet Control</h1>
    <h3>Recipes List:</h3>
    
    <ol id="recipeList">
    <li th:each="recipe : ${recipeList.content}">
		<span th:text="${recipe.name}">Name</span>
        <span th:text="${recipe.description}">Description</span>
        <span id="totalCost" th:text="${@recipeService.calculateRecipeTotalCost(recipe.id).recipeTotalCost}">Total Cost</span>
        <span id="recipesLeft" th:text="${@recipeService.calculateRecipesLeft(recipe.id)}">Recipes Left</span>
        <a th:href="@{/recipes/{idRecipe}(idRecipe=${recipe.id})}">Ingredients</a>
        <a th:href="@{/recipes/edit/{idRecipe}(idRecipe=${recipe.id})}">Edit</a>
        <a th:href="@{/recipes/delete/{idRecipe}(idRecipe=${recipe.id})}">Delete</a>
        <a id="cookButton" th:href="@{/recipes/cook/{idRecipe}(idRecipe=${recipe.id})}">Cook!</a>
	</li>
	</ol>
	
	<span th:if="${recipeList.hasPrevious()}">
         <a th:href="@{/recipes(page=${recipeList.number-1}, idFilter=${idFilter}, nameLike=${nameLike}, idIngredientFilter=${idIngredientFilter})}">Previous</a>
	</span>
     
 
 	<span th:if="${recipeList.totalPages > 0}">
	    <th:block th:each="i: ${#numbers.sequence(0, recipeList.totalPages - 1)}"> 
	            <a th:href="@{/recipes(page=${i}, idFilter=${idFilter}, nameLike=${nameLike}, idIngredientFilter=${idIngredientFilter})}">[[ ${i} + 1 ]]</a>
	    </th:block>
	</span>
    
    <span th:if="${recipeList.hasNext()}">
         <a th:href="@{/recipes(page=${recipeList.number+1}, idFilter=${idFilter}, nameLike=${nameLike}, idIngredientFilter=${idIngredientFilter})}">Next</a>
     </span>
    
    <form method="GET" th:action ="@{/recipes}" id="filterList">
      <h5>Filter Results</h5>

      <label for="filterById">Id: </label>
      <input type="text" name ="idFilter" th:value="${idFilter}">
      
      <label for="filterByName">Name: </label>
      <input type="text" name ="nameLike" th:value="${nameLike}">
      
      <label for="filterByIngredient">Ingrediente: </label>
	<select id="filterByIngredient" th:name="idIngredientFilter">
    	<option value="">-- Ingredient --</option>
		<option th:each = "i : ${ingredientList}" th:value="${i.id}" th:text="${i.name}"></option>
	</select>
  
	
      <br/>
      <br/>
      <input type="submit" value="Filter Results"/>
    </form>
    
    <a th:href="@{/recipes}">Clear Filter</a>
    <br/>
    <br/>
    
    <a th:href="@{/recipes/register}">Register Recipe</a>
    <br/>
    <a th:href="@{/ingredients/register}">Register Ingredient</a>
    <br/>
    <a th:href="@{/cookedrecipes}">View Cooked Recipes</a>
    <br/>
    <a th:href="@{/}">Home</a>
    
    <script>
		function isCookable() {
  			
  			for (const li of document.querySelectorAll('#recipeList>li')) {
				  
				if (li.getElementsByTagName('span')[2].textContent == "0.0") {
					
					buttonElem = li.getElementsByTagName('a')[3];
					buttonElem.href = "#";
					buttonElem.textContent = "Can't Cook!";
  				}
			}
		}
	</script>
  
  </body>
</html>