<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
  	<meta charset="UTF-8">
    <title>Sweet Control</title>
  </head>

  <body>
    
    <h3>Ingredient:</h3>
    
    <form method="POST" th:object="${recipeIngredient}" id="recipeIngredientForm" name="recipeIngredientForm">
       <label for="recipe">Recipe: </label>
      
    <select th:field="*{recipe}" id="recipe" name="recipe" readonly="readonly">
		<option th:value="${recipe.id}" th:text="${recipe.name}">
	</select>

	<input type="text" name="id" th:field="*{id}" readonly="readonly" hidden>
      <br/>
      <br/>
      <label for="ingredient">Ingredient: </label>
	<select th:field="*{ingredientEntry}" id="ingredient" name="ingredient" required>
		<option th:each = "i : ${ingredientList}" th:value="${i.id}" th:text="${i.name}">
		<span name="ingredientId" id="ingredientId" th:text="${i.id}"></span>
	</select>
	<br/>
	<br/>
      <label for="amount">Amount: </label>
      <input type="text" name="amount" th:field="*{recipeIngredientAmount}"/>
	<label for="amountType">Measure Unity: </label>
	<select th:field="*{recipeIngredientAmountType}" name="amountType" id="amountType" required>
		<option th:each = "u : ${T(dev.leonardovcl.sweetcontrol.model.Inventory.AmountType).values()}" th:value="${u}" th:text="${u.name()}">
	</select>
      <br/>
      <br/>

      <input type="submit" value="Edit Ingredient"/>
    </form>
    
    <br/>
    <a th:href="@{/recipes}">View Recipes</a>
    <br/>
    <a th:href="@{/}">Home</a>
  
  </body>
</html>